DISCORD_TOKEN=COLE_O_TOKEN_DO_BOT_AQUI
CLIENT_ID=ID_DA_APLICACAO_DO_BOT
GUILD_ID=ID_DO_SEU_SERVIDOR
APPROVAL_CHANNEL_ID=1503472268301308015
PANEL_CHANNEL_ID=1466546572572495974
DELEGADO_ROLE_ID=ID_DO_CARGO_DELEGADO
FUNCIONAL_ROLE_ID=ID_DO_CARGO_FUNCIONAL_APROVADA
LOG_CHANNEL_ID=1503472268301308015
DUVIDAS_URL=https://discord.com/channels/SEU_SERVIDOR/CANAL_DUVIDAS
CORREGEDORIA_URL=https://discord.com/channels/SEU_SERVIDOR/CANAL_CORREGEDORIA
RH_URL=https://discord.com/channels/SEU_SERVIDOR/CANAL_RH
ASCOM_URL=https://discord.com/channels/SEU_SERVIDOR/CANAL_ASCOM
PANEL_TITLE=Painel de Funcional
PANEL_ORG=Departamento Civil da Cidade
